<footer class="section-footer">
    <section class="footer-top py-5 bg-light">
        <div class="container">
            <div class="row">
                <aside class="col-sm-6 col-lg-3">
                    <h6 class="pb-2">Giới thiệu</h6>
                    <ul class="list-unstyled">
                        <li class="my-3"><a href="#" class="text-decoration-none">Về Shop</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Tuyển dụng</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Chính sách thanh toán</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Chính sách bảo mật</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Giải quyết khiếu nại</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Hợp tác</a></li>
                    </ul>
                </aside>
                <aside class="col-sm-6 col-lg-3">
                    <h6 class="pb-2">Hỗ trợ khách hàng</h6>
                    <ul class="list-unstyled">
                        <li>Hotline: 1900-80xx</li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Câu hỏi thường gặp</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Hướng dẫn đặt hàng</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Phương thức vận chuyển</a></li>
                        <li class="my-3"><a href="#" class="text-decoration-none">Chính sách đổi trả</a></li>
                    </ul>
                </aside>
                <aside class="col-lg-5">
                    <h6 class="pb-2">Đăng ký nhận tin</h6>
                    <form action="#">
                        <div class="input-group w-100">
                            <input type="text" class="form-control" placeholder="Email của bạn ...">
                            <button class="btn btn-primary" type="button">
                                Đăng ký
                            </button>
                        </div>
                    </form>
                </aside>
            </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- footer-top.// -->

    <section class="footer-bottom text-center bg-light border-top py-3">
        <div class="container-fluid">© 2024 — BookShop</div> <!-- container-fluid.// -->
    </section> <!-- footer-bottom.// -->
</footer>